[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
django = "*"
requests = "*"
pydantic = "*"
djangorestframework = "*"
psycopg2 = "*"
sqlalchemy = "*"
alembic = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
